{% extends 'base.html' %}

{% block body %}

    <style>
        .barcode {
            color: #428bca;
        }
    </style>

    <p id="system_id" system_id={{ system_id }}></p>
    <div style="    margin-bottom: 15px;">
        <form class="form-inline" method="get" action="/dashboard/">

            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-4 col-sm-4">
                    <p>

                        <span class="pull-left" style="font-weight: bold; padding: 7px 5px 0px 1px;">商户订单编号:</span>
                        {#                <label for="barcode">商户订单编号:</label>#}
                        <input id="barcode" class="form-control">
                    </p>


                </div>

                <div class="form-group col-md-4 col-sm-4">
                    <p>

                        <span class="pull-left" style="font-weight: bold; padding: 7px 5px 0px 1px;">日期:</span>

                        <input type="text" id="daterange" class="form-control" name="daterange" style="width: 317px;">
                    </p>

                </div>

            </div>

            <div class="col-md-12 col-sm-12" style="margin-top: 15px">

                <div class="form-group col-md-3 col-sm-3">
                    <span>商家：</span>


                <span>
                       <select class="selectpicker form-control" id="seller_id" data-live-search="true" data-width="75%">

                           <option value="all" selected>全部</option>
                           {% for seller_id, seller_name in sellers.iteritems() %}
                               <option value="{{ seller_id }}">{{ seller_name }}</option>
                           {% endfor %}

                       </select>

                </span>





                </div>


                <div class="form-group col-md-6 col-sm-6">

                    <p>

                        <span class="pull-left" style="font-weight: bold; padding: 7px 5px 0px 1px;">订单状态:</span>
                        <select class="form-control col-md-4" id="order_state">
                            <option value="all" selected>全部</option>
                            <option value="0">已创建</option>
                            <option value="1">待发布</option>
                            <option value="20">已发布</option>
                            <option value="25">待接单</option>
                            <option value="50">配送中</option>
                            <option value="100">已完成</option>
                            <option value="-100">已关闭</option>
                            <option value="-50">异常</option>
                        </select>

                        <button style="    margin-left: 15px;" type="button" class="btn btn-primary"
                                onclick="get_order(1, 10)">
                            查询
                        </button>
                    </p>

                </div>
            </div>


        </form>

    </div>
    <div class="panel panel-default" style="height: 392px; overflow: auto">

        <div class="table-responsive">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>商户订单编号</th>
                    <th>商家名称</th>
                    <th>城市</th>
                    <th>物流商</th>
                    <th>订单金额（元）</th>
                    <th>订单状态</th>
                    <!--<th>下单时间</th>-->
                    <!--<th>期望送达</th>-->

                </tr>
                </thead>
                <tbody id="tbody">


                </tbody>
            </table>
        </div>

    </div>

    <div>
        <p id="page_num" num="1" flag="true"></p>


        <button type="button" class="btn btn-default pull-right" onclick="get_next()">下一页</button>
        <button type="button" class="btn btn-primary pull-right" onclick="get_prev()">上一页</button>

    <span class="pull-right" style="margin-right: 15px">
     共<span id="page_count_num"></span> 页
    </span>
    <span class="pull-right" style="margin-right: 15px">
    当前第 <span id="page_current"></span> 页
    </span>
   <span class="pull-right" style="margin-right: 15px">
    共 <span id="page_count"></span> 条
    </span>
    </div>

    <div class="modal fade" id="class_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加作品标签</h4>
                </div>
                <div class="modal-body">
                    <!--<form id="class_form" method="post" action="/manager/post_add_class/">-->
                    <form id="class_form">
                        <div class="form-group ">
                            <label for="tag_name">名称</label>
                            <input id='tag_name' type="text" class="form-control" name="name" placeholder="输入名称">
                        </div>

                        <!--<div class="form-group ">-->
                        <!--<label for="cls_name">代码</label>-->
                        <!--<input  id='cls_code' type="text" class="form-control" name="name" placeholder="输入类型代码">-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="cls_code">类型</label>

                            <select class="selectpicker form-control" id="cls_code">
                                <option value="all">全部</option>
                                {% for class in class_list %}
                                    <option value="{{ class.code }}">{{ class.name }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group" id="status">
                            <div style="font-weight: 700; padding-top: 15px">
                                状态
                            </div>
                            <label class="radio-inline">
                                <input type="radio" checked="checked" name="status" id="inlineRadio1" value="100"> 启用
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="status" id="inlineRadio2" value="-100">禁用
                            </label>

                            <p id="false" style="color: red"></p>
                        </div>

                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="submit_form()">提交</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block script %}

    <script src="/static/js/dashboard/bootstrap-select.min.js"></script>
    <script src="/static/js/dashboard/moment.min.js"></script>
    <script src="/static/js/dashboard/daterangepicker.js"></script>
    <script src="/static/js/dashboard/class.js"></script>

{% endblock %}

