{% extends 'base.html' %}

{% block body %}

    <style>
        .project_btn {
            color: #428bca;
            cursor: pointer;

        }
    </style>

    <p id="system_id" system_id={{ system_id }}></p>
    <div style="    margin-bottom: 15px;">
        <form class="form-inline" method="get" action="/dashboard/">


            <div class="col-md-12 col-sm-12" style="margin-top: 15px">

                <div class="form-group col-md-3 col-sm-3">
                    <span>项目：</span>


                <span>
                       <select class="selectpicker form-control" id="project"
                               data-width="75%">
                           <option value="all">全部</option>

                           {#                           <option value="all" selected>全部</option>#}
                           {% for project_id, project_name in projects.iteritems() %}
                               <option value="{{ project_id }}">{{ project_name }}</option>
                           {% endfor %}


                       </select>

                </span>


                </div>


                <div class="form-group col-md-3 col-sm-3">
                    <span>状态：</span>



                           <span>
                       <select class=" form-control" id="status"
                               >

                           <option value="all">全部</option>
                           <option value="100">发布中</option>
                           <option value="200">发布成功</option>
                           <option value="300">发布失败</option>


                       </select>

                </span>

                    <button style="    margin-left: 15px;" type="button" class="btn btn-primary"
                            onclick="get_publish_log(0, 10)">
                        查询
                    </button>


                </div>
            </div>


        </form>

    </div>
    <div class="panel panel-default" style="height: 392px; overflow: auto">

        <div class="table-responsive">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>项目</th>
                    <th>tag</th>
                    <th>操作人</th>
                    <th>操作时间</th>
                    <th>备注</th>
                    <th>状态</th>
                    {#                    <th>输出信息</th>#}

                </tr>
                </thead>
                <tbody id="tbody">


                </tbody>
            </table>
        </div>

    </div>

    <div>
        <p id="page_num" num="0" flag="true"></p>


        <button type="button" class="btn btn-default pull-right" onclick="get_next()">下一页</button>
        <button type="button" class="btn btn-primary pull-right" onclick="get_prev()">上一页</button>

    <span class="pull-right" style="margin-right: 15px">
     共<span id="page_count_num"></span> 页
    </span>
    <span class="pull-right" style="margin-right: 15px">
    当前第 <span id="page_current"></span> 页
    </span>
   <span class="pull-right" style="margin-right: 15px">
    共 <span id="page_count"></span> 条
    </span>
    </div>

    <div class="modal fade" id="publish_info_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">输出信息</h4>
                </div>
                <div class="modal-body">
                    <!--<form id="class_form" method="post" action="/manager/post_add_class/">-->

                    <div id="publish_info_body">

                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.modal -->



{% endblock %}

{% block script %}
    <script src="/static/js/dashboard/bootstrap-select.min.js"></script>
    {#    <script src="/static/js/dashboard/moment.min.js"></script>#}
    {#    <script src="/static/js/dashboard/daterangepicker.js"></script>#}

    <script src="/static/js/dashboard/publish_list.js"></script>

{% endblock %}

