{% extends 'base.html' %}

{% block body %}

    <style>
        .barcode {
            color: #428bca;
            cursor: pointer;
        }
    </style>

    <p id="system_id" system_id={{ system_id }}></p>
    <div style="    margin-bottom: 15px;">
        <form class="form-inline" method="get" action="/dashboard/">

            <div class="col-md-12 col-sm-12">
                <div class="form-group col-md-8 col-sm-8">
                    <p>

                        <span class="pull-left" style="font-weight: bold; padding: 7px 5px 0px 1px;">商户订单编号:</span>
                        {#                <label for="barcode">商户订单编号:</label>#}
                        <input id="barcode" class="form-control">


                        <button style="    margin-left: 15px;" type="button" class="btn btn-primary"
                                onclick="get_webhook(1, 10)">
                            查询
                        </button>

                    </p>
                </div>

            </div>

        </form>


    </div>
    <div class="panel panel-default" style="height: 392px; overflow: auto">

        <div class="table-responsive">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Webhook对象id</th>
                    <th>商户id</th>
                    <th>事件</th>
                    <th>HTTP Method</th>
                    <th>状态</th>
                    <th>Webhook协议</th>
                    <th>商家订单编号</th>
                    <th>首次回推时间</th>
                    <th>请求的URL</th>
                    <th>成功回调完成时间</th>
                    <!--<th>下单时间</th>-->
                    <!--<th>期望送达</th>-->

                </tr>
                </thead>
                <tbody id="tbody">


                </tbody>
            </table>
        </div>

    </div>

    <div>
        <p id="page_num" num="1" flag="true"></p>


        <button type="button" class="btn btn-default pull-right" onclick="get_next()">下一页</button>
        <button type="button" class="btn btn-primary pull-right" onclick="get_prev()">上一页</button>

    <span class="pull-right" style="margin-right: 15px">
     共<span id="page_count_num"></span> 页
    </span>
    <span class="pull-right" style="margin-right: 15px">
    当前第 <span id="page_current"></span> 页
    </span>
   <span class="pull-right" style="margin-right: 15px">
    共 <span id="page_count"></span> 条
    </span>
    </div>




    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">推送消息体</h4>
                </div>
                <div class="modal-body" id="msg-body">

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="/static/js/dashboard/bootstrap-select.min.js"></script>
    <script src="/static/js/dashboard/moment.min.js"></script>
    <script src="/static/js/dashboard/webhook.js"></script>

{% endblock %}

